md/src/main/mule/md.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="63bedcdf-2755-4735-a067-4195843348a0" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mdFlow" doc:id="84d11fb4-45dd-4a8d-865e-741a39ae45fd" >
		<http:listener doc:name="Listener" doc:id="b583b08e-d5b3-4c60-b814-b2577a445907" config-ref="HTTP_Listener_config" path="/md"/>
		<set-payload value='"hello MD"' doc:name="Set Payload" doc:id="4ffb11ca-3048-4a70-994e-b7f45e67ac64" />
		<logger level="INFO" doc:name="Logger" doc:id="84e5567c-7f84-4efb-b115-4418fd2e9a74" message="#[payload]"/>
	</flow>
</mule>
